<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia minima
  voluptate illum dolore et quisquam, consectetur asperiores labore dolores
  deserunt porro quos commodi optio, impedit exercitationem. Eveniet
  repellendus, ex quo ipsa placeat dolor eligendi deserunt recusandae dolores
  rem sed laudantium tempora assumenda ratione laboriosam nostrum quis optio
  dolorum corporis reiciendis quas! Corrupti veritatis cumque id vero ipsum,
  nesciunt, deleniti quos ratione nisi, ipsa fuga totam in amet. Illo
  voluptatibus molestiae at soluta vel sed, accusamus, ratione facere quo
  consequuntur ipsam deleniti fugit ducimus laudantium odit ullam eos. Non
  recusandae doloribus facere ullam adipisci dolore, animi asperiores alias
  porro culpa dolores laudantium cupiditate cumque, deserunt vel voluptates
  facilis qui expedita, natus corrupti eum necessitatibus iure iste! Eos id iste
  sequi rerum debitis illum tempora molestias voluptate provident iure
  temporibus dignissimos ratione similique vero amet quaerat quasi animi magnam,
  excepturi tenetur deserunt praesentium totam. Similique veniam consequuntur
  sed et ad ipsa, earum numquam eius? Facere temporibus minima enim at expedita
  sit reiciendis iure beatae sint iusto suscipit quisquam, nemo ipsam nostrum
  deserunt illum nisi ad. Consequuntur, ab culpa possimus assumenda fugit sit
  porro quo similique provident esse cupiditate dolor tempora voluptates, magnam
  enim praesentium dolorum. Asperiores iure voluptates provident! Cumque quam
  placeat suscipit tempora quae accusamus eius voluptatem assumenda illo ipsam?
  Sit nulla earum facilis quia expedita labore dolore necessitatibus a libero
  eos, laborum enim repellat at saepe aspernatur vero maiores ratione alias
  assumenda? Voluptas, nam quisquam. Eum doloremque natus, ad voluptatum
  perferendis exercitationem ab fugit minima repellendus esse in nemo nobis
  quisquam cumque dolor dolores. Vitae at dicta possimus beatae, nobis
  repudiandae sed eius laboriosam deleniti, fugit laborum? Neque, quaerat.
  Magnam, quas provident? Quo molestiae suscipit optio facere dignissimos
  quisquam ratione culpa eius commodi unde obcaecati blanditiis, nemo quibusdam
  quasi praesentium sint consectetur perspiciatis magni perferendis illo. Porro
  magni dolorem expedita? Lorem ipsum dolor sit, amet consectetur adipisicing
  elit. Magni dolorum omnis, libero, voluptatum nobis aspernatur minima
  consequuntur eaque ab sit eos molestias temporibus repellendus illum quo amet
  ex? Possimus, deserunt.lo
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi harum temporibus
  veniam recusandae? Nisi fuga voluptatum nemo quos voluptatibus impedit?
  Dolores eos ad nihil eum minus accusantium perferendis dolor cumque optio,
  laboriosam aliquid laborum voluptatem illum reprehenderit odit possimus labore
  et iste, sed qui esse dolorem sunt magnam! Illum, molestias adipisci. Sunt,
  ipsam eius. Adipisci eaque in ab inventore optio delectus labore consectetur
  nulla eius quas perspiciatis, ipsum sint minus. Atque accusantium itaque
  dolores sapiente autem nihil numquam officiis, laboriosam ducimus ab debitis
  hic a, veniam expedita temporibus et, voluptatem voluptates perspiciatis at
  molestiae alias eveniet? Dignissimos eos laboriosam dolores labore deserunt
  vitae eligendi sint dolorum id aliquid, impedit odio mollitia amet porro
  officiis sunt fugit autem, praesentium ab eaque tempora fuga nemo. Nulla et
  quibusdam, harum dolorum laboriosam incidunt veritatis numquam eos excepturi
  laborum consequuntur aliquam adipisci nemo provident rem accusamus iure cum
  consequatur, nam ut, sapiente voluptatem non totam. Ipsa quam, numquam
  laboriosam fugit impedit corrupti, repellendus ducimus, libero quia itaque cum
  minus earum autem dolor sequi unde quaerat soluta et. Modi incidunt temporibus
  nostrum soluta, doloribus libero optio repellendus dolorum eius alias
  similique dolores dignissimos quod saepe magni. Aut debitis facere natus quas,
  rerum velit recusandae mollitia omnis commodi. Quia soluta similique, minus
  distinctio rerum exercitationem ipsa vel nihil sequi saepe rem modi cumque
  laudantium velit fuga perspiciatis laboriosam! In facilis, culpa amet quo
  similique consectetur ab veritatis, consequatur, aliquid doloribus asperiores
  temporibus id? Ullam consectetur libero officia. Odio placeat eligendi eaque
  eum illum tenetur labore accusantium minima autem dolore, maxime rerum numquam
  sint accusamus incidunt mollitia aliquam vero iure voluptate molestias
  necessitatibus saepe earum. Minima fugiat corporis sed expedita. Quam vero,
  fugiat enim nemo voluptatem, nam eligendi odit asperiores, nesciunt mollitia
  doloremque in perferendis deserunt libero aut cupiditate minus eaque. Harum
  numquam veritatis odit non nulla aliquid veniam laborum assumenda esse? Sunt
  odit et deserunt quia omnis eum, asperiores blanditiis, saepe maiores
  voluptatibus praesentium porro nemo perferendis nihil fugiat dolorum sint
  tenetur? Minus laboriosam, expedita dignissimos nisi harum quo nostrum
  assumenda delectus magni libero rerum aut sint at porro repellendus deserunt,
  cumque labore. Id saepe doloremque sint distinctio magnam natus qui minus ad,
  repudiandae autem nesciunt, neque sed placeat molestias! Labore illo quibusdam
  repellat. Exercitationem perspiciatis aperiam praesentium cupiditate,
  necessitatibus officia tempora accusamus saepe reprehenderit maxime obcaecati
  enim quam iure deleniti voluptatum assumenda consectetur, laudantium eveniet
  ipsa fugiat recusandae, corrupti quis molestiae ab. Voluptatibus suscipit
  exercitationem placeat perspiciatis laboriosam dolorem facilis temporibus,
  quia officiis eaque amet tempora, aliquam expedita perferendis eius molestiae
  mollitia ex commodi ipsa cumque alias magni odit? Libero alias assumenda optio
  perspiciatis nisi harum vel commodi, at dicta. Voluptas est accusantium
  reiciendis. Voluptatibus, incidunt tempore. Excepturi beatae alias amet ipsum
  autem, accusantium laudantium reprehenderit nesciunt nemo, ex voluptatum
  magnam quam error, dolor aliquid sapiente consequuntur ratione ipsam a in
  maxime necessitatibus fuga veritatis. Nesciunt nobis quis officia, voluptatum
  deleniti mollitia non neque! Eius ipsa, dolore nobis quasi rerum quas facilis
  unde deserunt id porro dolores laboriosam consequatur consequuntur aperiam
  voluptas. At, consequatur suscipit.
</p>
<h3 class="bg-warning">{{ name123 }}</h3>
<hr class="bg-info" />
<div class="bg-dark">
  <input type="text" class="form-control w-25 m-auto" [(ngModel)]="name123" />
</div>
