<div class="about-section">
  <h1>about</h1>
  <table class="table">
    <thead>
      <th>name</th>
      <th>age</th>
      <th>state</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td [style]="user.age > 25? 'color:red':'color:green'">{{ user.age }}</td>
        <td>{{ user.marred }}</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li *ngFor="let item of data">{{ item }}</li>
  </ul>
   <a class="btn btn-primary" routerLinkActive="bg-danger text-white" routerLink="/about/web">web</a>
<a class="btn btn-warning" routerLinkActive="bg-danger text-white" routerLink="/about/mobile">mobile</a>

<router-outlet></router-outlet>
</div>